h1 {
    color: red;
}

div {
    width : 60px;
    height : 60px;
    border : 20px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin : 20px 0;
    background-size : 140px;
    background-position: center;
    background-color : gold;
}

.boite1 {
    padding: 5%;
    margin-left: 10%;
    border: 5px solid black;
    border-radius: 25%;
}

.boite2 {
    padding: 25%;
    margin-top: 10%;
    border: 3px solid red;
    border-radius: 25px;
    background-color: black;
}

.boite3 {
    margin: 10%;
    border: 5px dotted pink;
}
